extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  div(class='site-body')
    h1= title
    div(class='feed-stories')
      each story in stories
        div(class='feed-story')
          p(class='feed-story')= story.User.username
          p(class='feed-story')= story.title
          p(class='feed-story')= story.createdAt
          p(class='feed-story')= story.content
