mixin validationErrorSummary(errors)
  if errors
    div(class='alert alert-danger' role='alert')
      p(class='alert') The following error(s) occurred:
      ul
        each error in errors
          li(class='alert')= error

mixin field(fieldName, fieldValue, fieldType = 'text')
  div(class='form-group')
    //- label(for=fieldName)= labelText
    input(type=fieldType id=fieldName name=fieldName value=fieldValue class='form-control')
