extends layout.pug
append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  link(rel="stylesheet" href="/stylesheets/story.css")
  link(rel='stylesheet' href='/stylesheets/footer.css')
include utils.pug
block content
  div(class="story-body")
    append head
      script(src="/javascripts/comments.js" type="module" defer)
      script(src="/javascripts/likes.js" type="module" defer)
    +validationErrorSummary(errors)
    h1(class="story-title")= story.title
    div(class="story-content")
      p(class="story-content")= story.content
      p(class="story-metadata")= story.createdAt
    div(class="edit-story-div")
      if authenticated
        div(class="storyLike")
          if (story.Likes.filter(like => like.userId === locals.user.id).length)
            button(class=`storyLike story-likes`, id= story.id) Liked
            p(class="story-like-counter" id=`counter-${story.id}`)= story.Likes.length
          else
            button(class=`storyLike story-likes`, id= story.id) Like
            p(class="story-like-counter" id=`counter-${story.id}`)= story.Likes.length

        if (locals.user.id === story.userId)
          a(href=`/stories/${story.id}/edit`)
            button(class="edit-buttons") Edit Story
          a(href=`/stories/${story.id}/delete`)
            button(class="edit-buttons") Delete Story
    .divider
    div(class="comments")
      div(class="write-comment-div")
        if authenticated
        textarea.commentContent(class="comment-box" name="comment", storyId=story.id, cols="100", rows="5", placeholder="Share your thoughts...", required = true)
      button.commentSubmit(class="comment-submit" type="submit") Submit
      .divider
      h2(class="comments-header") Comments
      ul.commentContainer
        each comment in comments
          div(class="comment")
            p(class="comment-author")= comment.User.username
            li= comment.content
            if authenticated
              p(class="comment-likes-counter" id=`counter-${comment.id}`) Likes: #{comment.Likes.length}
              if (comment.Likes.filter(like => like.userId === locals.user.id).length)
                button(class=`commentLike`, id= comment.id) Liked
              else
                button(class=`commentLike`, id= comment.id) Like
              if (locals.user.id === comment.userId)
                button(class=`editComment` id=`comment-${comment.id}`) Edit Comment
                button(class=`deleteComment` id=`comment-${comment.id}`) Delete Comment

  div(class="footer" style="position: relative")
    .divider
      div(class="footer-content")
        div(class="person")
          img(class="person-profile" src="../profile-karandeep.jpg")
          p(class="person-name") Karandeep Singh
          div(class="icons")
            a(href="" target="_blank")
              img(src="../linkedin.png" class="icon")
            a(href="https://github.com/jinnie96" target="_blank")
              img(src="../github.png" class="icon")

        div(class="person")
          img(class="person-profile" src="../profile-xander.jpg")
          p(class="person-name") Xander Gangemi
          div(class="icons")
            a(href="" target="_blank")
              img(src="../linkedin.png" class="icon")
            a(href="https://github.com/gitxandalf" target="_blank")
              img(src="../github.png" class="icon")

        div(class="person")
          img(class="person-profile" src="../profile-yura.jpg")
          p(class="person-name") Yu Ra Kim
          div(class="icons")
            a(href="https://www.linkedin.com/in/yura-kim/" target="_blank")
              img(src="../linkedin.png" class="icon")
            a(href="https://github.com/kim-yura" target="_blank")
              img(src="../github.png" class="icon")

        div(class="person")
          img(class="person-profile" src="../profile-zhen.jpg")
          p(class="person-name") Zhen Yu
          div(class="icons")
            a(href="" target="_blank")
              img(src="../linkedin.png" class="icon")
            a(href="https://github.com/zyusnow" target="_blank")
              img(src="../github.png" class="icon")
