extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  link(rel="stylesheet" href="/stylesheets/profile.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  div(class='profile-body')
    div(class='profile-left-container')
      img(class='person-img' src='../profile-pic.png', style='width:150px;height:150px')
      p(class='profile-user')=user.username
      .divider
      p(class='') About
      p(class='nav-about-text') Just a regular guy named Dave.
      p(class='profile-followers') Followers

    div(class='profile-main-container')
      each story in userStories
        div(class='user-stories')
          p(class='user-stories-created')= story.createdAt
          a(href=`/stories/${story.id}`, class='profile-story-title')= story.title
          p(class='profile-story-content')= story.content
          if authenticated
            if (sessionUser.id === story.userId)
              a(href=`/stories/${story.id}/edit`)
                button(class='profile-edit-button') Edit
              a(href=`/stories/${story.id}/delete`)
                button(class='profile-edit-button') Delete
