extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  link(rel="stylesheet" href="/stylesheets/profile.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)
  script(src="/javascripts/follows.js" type="module" defer)

block content
  div(class='profile-body')
    div(class='profile-left-container')
      img(class='person-img' src='../profile-pic.png', style='width:150px;height:150px')
      p(class='profile-user')=user.username
      .divider-profile
      p(class='') About
      p(class='nav-about-text', t=user.followers) Just a regular guy named Dave.
      if authenticated
        if (sessionUser.id !== user.id)
          //- button(class='profile-follow', id=user.id) Follow
          if (user.followers.filter(follow => follow.Follow.followerId === sessionUser.id).length)
            button(class=`profile-follow`, id= user.id) Following
          else
            button(class=`profile-follow`, id=user.id, t=user.followers) Follow
      a(id=`counter-${user.id}`, href=`/users/${user.id}/followers`)=`${user.followers.length} Followers`
      a(href=`/users/${user.id}/followings`)=`${user.followings.length} Followings`
    div(class='profile-main-container')
      each story in userStories
        div(class='user-stories')
          p(class='user-stories-created')= story.createdAt
          a(href=`/stories/${story.id}`, class='profile-story-title')= story.title
          p(class='profile-story-content')= story.content
          if authenticated
            if (sessionUser.id === story.userId)
              a(href=`/stories/${story.id}/edit`)
                button(class='profile-edit-button') Edit
              a(href=`/stories/${story.id}/delete`)
                button(class='profile-edit-button') Delete
